/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins","sans serif";
    font-weight: 400;

    &:focus-visible{
        outline: none;
        box-shadow: none;
      }
}

/* styling */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.container {
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 50vw;
    background-color: #e4e1de;
    border: 1px solid #665e54fd;
    border-radius: 10px;
}

header, .weekDays {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50vw;
}

.monthYear {
    display:inline-block;
}

#prevBtn, #nextBtn {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #cfcbc7fd;
    cursor: pointer;

    &:hover {
        font-weight: 600;
    }
}

.days {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: medium;
}


.date-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 10px;
}

.date {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}

p {
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    padding-top: 10px;

    &:hover {
        background-color: #7c7a77;
        color: #e4e1de;
    }
}

.active  {
    background-color: #7c7a77;
    color: #fcfaf9;
}
.inactive {
    background-color: #e4e1de;
    color: #7c7a77;
}


/* Notes styling part */
.note-input {
    display: none;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}
.note-text {
    border: none;
    border-bottom: 1px solid  #7c7a77;
    background: none;
}

.note {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note button {
    background: none;
    border: none;
    cursor: pointer;
    color: #e91616;
    font-weight: bold;
}

.save-note {
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: #7c7a77;
        color: #fcfaf9;
        font-weight: 600;
    }
}
